<ol class="items-list">
  {{#each gear as |itemType type|}}
    <li class="item flexrow items-header">
      <div class="item-name">{{ itemType.name }}</div>

      {{#if itemType.showQuantity}}
      <div class="item-control">{{ localize 'CMHV.ItemQuantity' }}</div>
      {{/if}}
      {{#if itemType.showDamage}}
      <div class="item-control">{{ localize 'CMHV.Damage' }}</div>
      {{/if}}
      {{#if itemType.showArmor}}
      <div class="item-control">{{ localize 'CMHV.Armor' }}</div>
      {{/if}}

      <div class="item-control">{{ localize 'CMHV.ItemValue' }}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="{{type}}"><i class="fas fa-plus"></i>{{localize 'CMHV.Add'}}</a>
      </div>
    </li>
    {{#each itemType.items as |item id|}}
    <li class="item flexrow item-sub" data-item-id="{{item._id}}">
      <div class="item-name flexrow">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
        </div>
        <h4>{{item.name}}</h4>
      </div>
      
      {{#if itemType.showQuantity}}
      <div class="item-control item-prop">{{item.data.quantity}}</div>
      {{/if}}
      {{#if itemType.showDamage}}
      <div class="item-control item-prop">{{ item.data.damage.value }}</div>
      {{/if}}
      {{#if itemType.showArmor}}
      <div class="item-control item-prop">{{ item.data.defense.value }}</div>
      {{/if}}

      <div class="item-control item-prop">{{item.data.value}}c</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  {{/each}}
</ol>